@import "tailwindcss";

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
}

/* Custom styles nếu cần */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Loại bỏ các thiết lập body mặc định có thể gây vấn đề */
body {
  margin: 0;
  min-width: 320px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
